# MySQL
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=clicktracker
MYSQL_USER=click
MYSQL_PASSWORD=clickpass

# Mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=secret

# App
APP_ENV=local
APP_DEBUG=1
TZ=UTC